{{!-- Attributes partial — 8 core attrs + special --}}
<div class="attributes-section">
  <h3 class="section-header">Attributes</h3>
  <div class="attributes-grid">

    {{!-- Physical --}}
    <div class="attr-group">
      <h4>Physical</h4>
      {{#each (array "body" "agility" "reaction" "strength") as |attrKey|}}
      <div class="attribute" data-attr="{{attrKey}}">
        <label class="attr-label">{{capitalize attrKey}}</label>
        <div class="attr-value-wrap">
          <input type="number" name="system.attributes.{{attrKey}}.base"
            value="{{lookup (lookup ../system.attributes attrKey) 'base'}}"
            min="1" max="12" class="attr-input" />
          {{#if (gt (lookup (lookup ../system.attributes attrKey) 'augmented') 0)}}
          <span class="attr-aug">+{{lookup (lookup ../system.attributes attrKey) 'augmented'}}</span>
          {{/if}}
        </div>
        <a class="attr-roll" data-attr1="{{attrKey}}" data-label="{{capitalize attrKey}}" title="Roll {{capitalize attrKey}}">⚄</a>
      </div>
      {{/each}}
    </div>

    {{!-- Mental --}}
    <div class="attr-group">
      <h4>Mental</h4>
      {{#each (array "charisma" "intuition" "logic" "willpower") as |attrKey|}}
      <div class="attribute" data-attr="{{attrKey}}">
        <label class="attr-label">{{capitalize attrKey}}</label>
        <div class="attr-value-wrap">
          <input type="number" name="system.attributes.{{attrKey}}.base"
            value="{{lookup (lookup ../system.attributes attrKey) 'base'}}"
            min="1" max="12" class="attr-input" />
          {{#if (gt (lookup (lookup ../system.attributes attrKey) 'augmented') 0)}}
          <span class="attr-aug">+{{lookup (lookup ../system.attributes attrKey) 'augmented'}}</span>
          {{/if}}
        </div>
        <a class="attr-roll" data-attr1="{{attrKey}}" data-label="{{capitalize attrKey}}" title="Roll {{capitalize attrKey}}">⚄</a>
      </div>
      {{/each}}
    </div>

    {{!-- Special --}}
    <div class="attr-group attr-special">
      <h4>Special</h4>
      {{#if (gt system.attributes.magic.base 0)}}
      <div class="attribute">
        <label>Magic</label>
        <input type="number" name="system.attributes.magic.base"
          value="{{system.attributes.magic.base}}" min="0" max="12" class="attr-input" />
      </div>
      {{/if}}
      {{#if (gt system.attributes.resonance.base 0)}}
      <div class="attribute">
        <label>Resonance</label>
        <input type="number" name="system.attributes.resonance.base"
          value="{{system.attributes.resonance.base}}" min="0" max="12" class="attr-input" />
      </div>
      {{/if}}
      <div class="attribute">
        <label>Essence</label>
        <input type="number" name="system.attributes.essence"
          value="{{system.attributes.essence}}" min="0" max="6" step="0.1" class="attr-input essence-input" />
      </div>
    </div>

  </div>
</div>
